@import '~normalize-scss/sass/_normalize.scss';
@import 'variables.scss';

body {
  background: $foreground;
  color: $background;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  line-height: 23px;

  & > * { grid-column: 2 / -2; }

  header {
    h1 {
      // font-size: 3.5em;
    }
  }

  footer {
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }

  .social a {
    color: $background;
  }
}
