// COLORS
$dark: #4d4d4d;
$bright: #fefefe;
$blue: #0B9EFF;
$green: #3FC2CE;
$purple: #5475E0;

:root {
  --background: #{$dark};
  --foreground: #{$bright};
  --bright: #{$bright};
  --dark: #{$dark};
  --blue: #{$blue};
  --green: #{$green};
  --purple: #{$purple};
}

// FONTS
$sans-font:'Open Sans', sans-serif;
$mono-font: 'Roboto Slab', monospace;

// Media breakpoints
$break-mobile: 800px;
